@model WebLavApp.Models.Secretaria;

@{
    ViewData["Title"] = "Excluir Serviço";
}

<h1>@ViewData["Title"]</h1>

<h3>Tem certeza que deseja excluir este serviço?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Secretarias)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Secretarias)
        </dd>
        
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Material)
        </dd>
        
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Cor)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Cor)
        </dd>
        
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
          <dt class="col-sm-9"></dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
         <dd class="col-sm-9"></dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Excluir</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>