@model WebLavApp.Models.Modalidades

@{
    ViewData["Title"] = "Detalhes do Serviço";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Modalidade)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Modalidade)
        </dd>
        
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Material)
        </dd>
        
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Cor)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Cor)
        </dd>
        
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

         <dt class="col-sm-3"></dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.Data)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>